<!-- head scripts -->
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer></script>
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "a9547492-dfbd-4b69-939d-5e6ac263754a",
    });
  });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-67CK71YPKN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-67CK71YPKN');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NJLX7V9');</script>
  <!-- End Google Tag Manager -->

<script type="text/javascript">
  (function() {
      window.sib = {
          equeue: [],
          client_key: "u3wk0x9i27rio3t5nhngg66x"
      };
      /* OPTIONAL: email for identify request*/
      // window.sib.email_id = 'example@domain.com';
      window.sendinblue = {};
      for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
      (function(k) {
          window.sendinblue[k] = function() {
              var arg = Array.prototype.slice.call(arguments);
              (window.sib[k] || function() {
                      var t = {};
                      t[k] = arg;
                      window.sib.equeue.push(t);
                  })(arg[0], arg[1], arg[2]);
              };
          })(j[i]);
      }
      var n = document.createElement("script"),
          i = document.getElementsByTagName("script")[0];
          n.type = "text/javascript", n.id = "sendinblue-js",
          n.async = !0, n.src = "https://sibautomation.com/sa.js?key="+ window.sib.client_key,
          i.parentNode.insertBefore(n, i), window.sendinblue.page();
  })();
  </script>
