<style>
  .leaderboard {
    width: 90%;
    max-width: 728px;
    height: 90px;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), -8px 0px 8px rgba(0, 0, 0, 0.15), 8px 0px 8px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  .leaderboard .style-one {
    background-color: #e53935;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .leaderboard .style-two {
    background-color: #0288d1;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
  }
</style>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540" crossorigin="anonymous"></script>

<!-- leaderboard -->
<ins class="adsbygoogle leaderboard"
  data-ad-client="ca-pub-1291242080282540"
  data-ad-slot="8939839370"
  style="display:block; position: relative;"
>
  <div class="style-one">Ad Style 1</div>
  <div class="style-two">Ad Style 2</div>
</ins>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
