<style>
  .leaderboard {
    width: 90%;
    max-width: 728px;
    height: 90px;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), -8px 0px 8px rgba(0, 0, 0, 0.15), 8px 0px 8px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  .leaderboard .corner {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaderboard .triangle-solid {
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #e53935 transparent;
    z-index: 1;
  }

  .leaderboard .triangle-bordered {
    border-width: 0 25px 43.3px 25px;
    border-color: transparent transparent #e53935 transparent;
    border-style: solid;
    z-index: 1;
  }
</style>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540" crossorigin="anonymous"></script>

<!-- leaderboard -->
<ins class="adsbygoogle leaderboard"
  data-ad-client="ca-pub-1291242080282540"
  data-ad-slot="8939839370"
  style="display:block; position: relative;"
>
  <div class="corner triangle-solid" style="transform: rotate(45deg); width: 50px; height: 86.6px; top: 0; left: 0;"></div>
  <div class="corner triangle-bordered" style="transform: rotate(-45deg); width: 50px; height: 86.6px; top: 0; right: 0;"></div>
  <div class="corner triangle-solid" style="transform: rotate(45deg); width: 50px; height: 86.6px; bottom: 0; right: 0;"></div>
  <div class="corner triangle-bordered" style="transform: rotate(-45deg); width: 50px; height: 86.6px; bottom: 0; left: 0;"></div>
</ins>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
