<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540" crossorigin="anonymous"></script>
          <!-- Horizontal (Responsive) -->
          <ins class="adsbygoogle"
               style="display:block; max-height: 90px; width: 100%; border-left: 2px solid #E53935; border-right: 2px solid #E53935; background-color: #FFEAEA; padding-top: 5px; padding-bottom: 5px; margin: 0;"
               data-ad-client="ca-pub-1291242080282540"
               data-ad-slot="8939839370"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
