<div class="container">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a class="button bd-fat-button is-info is-light bd-pagination-prev" href="{{ site.url }}/{{ page.previous_url }}" title="previous article">
        <span class="icon is-left">
          <i class="fa fa-arrow-left"></i>
        </span>
        <span>
          <strong>Previous Article</strong>
        </span>
      </a>
  
      <a class="button bd-fat-button is-info is-light bd-pagination-next" href="{{ site.url }}{{ page.next_url }}" title="next article">
        <strong>Next Article</strong>
        <span class="icon is-left">
          <i class="fa fa-arrow-right"></i>
        </span>
      </a>
    </nav>
  </div>
  