<style>
.leaderboard-top {
  width: 90%;
  height: 50px;
  border-left: 10px solid #E53935;
 border-right: 10px solid #E53935;
 border-radius: 10px;
 background-color: #f7f7f7;
 display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

@media(min-width: 500px) {
  .leaderboard-top {
    width: 90%;
    height: 100px;
  }
}

@media(min-width: 800px) {
  .leaderboard-top {
    width: 90%;
    height: 50px;
  }
}
</style>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>

<!-- leaderboard -->
<ins class="adsbygoogle leaderboard-top"
     data-ad-client="ca-pub-1291242080282540"
     data-ad-slot="8539588233"
     style="display:block"
></ins>

<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>