@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$family-sans-serif: 'Roboto', sans-serif;
$primary: #E53935 !default;
$info: #FDEDED !default; 

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";

.gh-sponsor {
  color: white;
}