---
---

// Import Main CSS file from theme
@import "main";
.hero.is-primary .title {
    color: #E53935;
  }
  
  .hero.is-primary .subtitle {
    color: #372c2c;
  }
  
  .hero.is-primary .subtitle a:not(.button),
  .hero.is-primary .subtitle strong {
  color: #8c5c5b;
  }