---
layout: red
---
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fa fa-columns fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Columns</h1>
              <p class="is-size-5 subtitle">
                The power of <strong>Flexbox</strong> in a simple interface
              </p>
            </div>
          </div>
        </article>
      </div>
      <!-- Add more columns with articles here -->
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fa fa-lg fa-home"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Form</h1>
              <p class="is-size-5 subtitle">
                The indispensable <strong>form controls</strong>, designed for maximum clarity
              </p>
            </div>
          </div>
        </article>
      </div>
      <!-- Add more columns with articles here -->
    </div>
  </div>
</section>

<div class="content">
    {{ content }}
</div>