---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">

  <div class="column is-12">
    {{ page.content }}
  </div>

  {% assign sorted_stories = site.stories | sort: 'title' %}

  {% for story in sorted_stories %}
  <div class="column is-4-desktop is-6-tablet">

    <a href="{{ story.url | relative_url }}">

      <div class="card">

        {% if story.image %}
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ story.image }}" alt="{{ story.title }}" />
          </figure>
        </div>
        {% endif %}
        <div class="card-content">

          <p class="title is-4">{{ story.title }}</p>
          <p class="subtitle is-4">{{ story.subtitle }}</p>  

        </div>
      </div>

    </a>

  </div>
  {% endfor %}
</div>
